#intro-container img {
    width: 200px;
    margin: 20px 0;
}

#animation-container {
    z-index: 999;
}

.step {
    margin-bottom: 40px;
}

.step p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #fff;
}

.progress-bar {
    width: 100%;
    height: 15px;
    background-color: #e0e0e0;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.progress {
    height: 100%;
    width: 0;
    background: linear-gradient(to right, #2575fc, #6a11cb);
    /* Apply gradient */
    transition: width 1.5s ease-in-out;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Result Section */
#result-container h2 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 20px;
}

#larp-score {
    font-weight: bold;
    font-size: 2.5rem;
}

/* LARP Score Colors */
.green {
    color: #4caf50;
    font-weight: bold;
    /* Green for safe */
}

.yellow {
    color: #ffc107;
    font-weight: bold;
    /* Yellow for warning */
}

.red {
    color: #f44336;
    font-weight: bold;
    /* Red for danger */
}

/* loading animation */

.loader {
    position: relative;
    padding-top: 100px;
    width: 40px;
    margin: auto;

    .circle {
        position: absolute;
        width: 38px;
        height: 38px;
        opacity: 0;
        transform: rotate(225deg);
        animation-iteration-count: infinite;
        animation-name: orbit;
        animation-duration: 5.5s;

        &:after {
            content: '';
            position: absolute;
            width: 5px;
            height: 5px;
            border-radius: 5px;
            background: #fff;
            /* Pick a color */
        }

        &:nth-child(2) {
            animation-delay: 240ms;
        }

        &:nth-child(3) {
            animation-delay: 480ms;
        }

        &:nth-child(4) {
            animation-delay: 720ms;
        }

        &:nth-child(5) {
            animation-delay: 960ms;
        }
    }
}

@keyframes orbit {
    0% {
        transform: rotate(225deg);
        opacity: 1;
        animation-timing-function: ease-out;
    }

    7% {
        transform: rotate(345deg);
        animation-timing-function: linear;
    }

    30% {
        transform: rotate(455deg);
        animation-timing-function: ease-in-out;
    }

    39% {
        transform: rotate(690deg);
        animation-timing-function: linear;
    }

    70% {
        transform: rotate(815deg);
        opacity: 1;
        animation-timing-function: ease-out;
    }

    75% {
        transform: rotate(945deg);
        animation-timing-function: ease-out;
    }

    76% {
        transform: rotate(945deg);
        opacity: 0;
    }

    100% {
        transform: rotate(945deg);
        opacity: 0;
    }
}